In [1]:
import pandas as pd
import numpy as np

filename = "iboat"
table = "dublinmodeldetectionregion"

In [2]:
dfi = pd.read_csv("../../scripts/data/iboat_dublin.csv")

In [3]:
dfi.head()

,Unnamed: 0,Rota,Scores,AUC,Thresh,Max F1,Score_Prec,Score_Rec,Intersec_Prec,Intersec_Rec,Intersec_Pred_Idx,Intersec_True_Idx
0,0,40,"[4.515810465978232e-49, 1.785646210864155e-18,...",1.000000,"[3.788425811245334, 5.217964989367795, 5.36393...",1.000000,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[1.0, 0.98, 0.96, 0.94, 0.92, 0.9, 0.88, 0.86,...",0.991031,0.997382,"[[], [], [], [], [], [], [], [], [], [], [], [...","[[], [], [], [], [], [], [], [], [], [], [], [..."
1,0,37,"[5.055005387555262, 5.055441562186856, 5.05362...",1.000000,"[7.066930747708693, 7.081370766761149, 7.10432...",1.000000,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[1.0, 0.98, 0.96, 0.94, 0.92, 0.9, 0.88, 0.86,...",0.834832,0.983561,"[[180, 181, 182, 183, 184, 185, 186, 187, 188,...","[[], [], [], [], [], [], [], [], [], [], [], [..."
2,0,18,"[12.727297017194035, 12.698228172814373, 12.70...",0.892293,"[6.903161715298669, 7.924763495662003, 7.95595...",0.927835,"[0.5263157894736842, 0.5212765957446809, 0.516...","[1.0, 0.98, 0.96, 0.94, 0.94, 0.94, 0.94, 0.94...",0.689838,0.979708,"[[173, 174, 175, 176, 177, 178, 179, 180, 181,...","[[], [], [], [], [], [], [], [], [], [], [], [..."
3,0,4,"[2.271450667583956e-09, 1.6754018956464126e-15...",0.996117,"[3.631660131270236, 4.385819038481871, 4.81011...",0.990099,"[0.9803921568627451, 0.98, 0.9795918367346939,...","[1.0, 0.98, 0.96, 0.94, 0.92, 0.9, 0.88, 0.86,...",0.921277,0.953559,"[[], [], [19, 194, 195, 196, 197, 198, 199, 20...","[[], [], [], [], [], [], [], [], [], [], [], [..."
4,0,64,"[3.96634759586814, 4.03072221686141, 4.0024982...",0.990628,"[3.709529607854074, 3.8433057431429978, 3.8583...",0.980000,"[0.5747126436781609, 0.5697674418604651, 0.576...","[1.0, 0.98, 0.98, 0.98, 0.98, 0.98, 0.98, 0.98...",0.813053,0.987830,"[[120, 138, 139, 140, 141, 142, 143, 144, 145,...","[[], [], [], [], [], [], [], [], [], [], [], [..."

In [4]:
dfi.columns = ["_", "route", "scores", "auc", "thr", "max_f1", "prec", 
               "rec", "intersec_prec", "intersec_rec", "intersec_pred_idx",
               "intersec_true_idx"]
#               "f1_thr", "prec", "rec", "traj"]


dfi["filename"] = filename

dfs = []
for df in [dfi]:
    for col in  ["prec", "rec", "thr"]:
        df[col] = df[col].apply(lambda x : x[1:-1].split(','))
        df["_"+col] = df[col].apply(lambda x : [float(y) for y in x if y])
    df["_thr"] = df["_thr"].apply(lambda x: [*x, None])
    df = df[["filename", "route", "scores", "auc", 
             "max_f1", "_prec", "_rec", "_thr", 
             "intersec_prec", "intersec_rec", 
             "intersec_pred_idx", "intersec_true_idx"]]
    df.columns = ["filename", "route", "scores", "auc", 
                  "max_f1", "precision", "recall", "threshold",
                  "intersec_prec", "intersec_rec", 
                  "intersec_pred_idx", "intersec_true_idx"]
    df = df.explode(["precision", "recall", "threshold"])
    dfs.append(df)
df = pd.concat(dfs).reset_index(drop=True)

In [5]:
dfs = df[["filename", "route", "scores", "intersec_pred_idx", "intersec_true_idx"]].copy()

dfs.drop_duplicates(subset="route", inplace=True)

In [6]:
def str_to_list(s):
    # print(type(s))
    # print(s)
    # input()
    sc = eval(s)
    return sc

In [7]:
for c in ["scores", "intersec_pred_idx", "intersec_true_idx"]:
    print(c)
    dfs["_" + c] = dfs[c].apply(lambda x: str_to_list(x))
    # print(dfs[c].loc[0])
    # print(dfs["_" + c].loc[0])

scores
intersec_pred_idx
intersec_true_idx

In [8]:
df_l = []

for r in dfs["route"].unique():
    dfn = dfs[dfs["route"] == r]
    exec("lp = " + dfn["intersec_pred_idx"].values[0])
    exec("lt = " + dfn["intersec_true_idx"].values[0])
    exec("sc = " + dfn["scores"].values[0])
    dx = {"scores": sc,
         "pred": lp,
         "true": lt}
    df = pd.DataFrame(dx)
    df["filename"] = filename
    df["route"] = r
    df = df.reset_index()
    df_l.append(df)
df = pd.concat(df_l)

In [9]:
df.columns = ["trajectory_id", "score", "anom_predictions", "anom_true", "model", "route"]
df = df[["model", "route", "trajectory_id", "anom_predictions", "anom_true"]].reset_index()

In [10]:
df.head()

   index  model  route  trajectory_id anom_predictions anom_true
0      0  iboat     40              0               []        []
1      1  iboat     40              1               []        []
2      2  iboat     40              2               []        []
3      3  iboat     40              3               []        []
4      4  iboat     40              4               []        []

In [11]:
from sqlalchemy import create_engine

engine = create_engine(f'postgresql://postgres:monografia@backend-mobapp_db_1/app')
df.to_sql(
        table,
        engine,
        if_exists="append",
        index=False,
    )