In [1]:
import pandas as pd
import numpy as np

filename = "transformer"
table = "dublinmodeldetectionregion"

In [2]:
dfi = pd.read_csv("../../scripts/data/transformer_dublin_1_03.csv")

In [3]:
dfi.head()

,Unnamed: 0,Unnamed: 0.1,Rota,Scores,AUC,Thresh,Max F1,Score_Prec,Score_Rec,Intersec_Prec,Intersec_Rec,Intersec_Pred_Idx,Intersec_True_Idx
0,0,0,40,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",1.0,[0.99519229 1. ],1.0,[1. 1. 1.],[1. 0.92 0. ],0.949270,0.999397,"[[], [], [], [], [], [], [], [], [], [], [], [...","[[], [], [], [], [], [], [], [], [], [], [], [..."
1,2,1,37,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",1.0,[0.99346405 0.9937107 0.99447513 0.99456519 0...,1.0,[1. 1. 1. 1. 1. 1. 1.],[1. 0.98 0.96 0.94 0.92 0.9 0. ],0.937840,0.836989,"[[180, 181, 182, 183, 184, 185, 186, 187, 188,...","[[], [], [], [], [], [], [], [], [], [], [], [..."
2,5,2,18,"[1.0, 1.0, 1.0, 1.0, 1.0, 0.9934640526771545, ...",1.0,[0.99206346 0.99280578 0.99346405 0.99363059 0...,1.0,[1. 1. 1. 1. 1. 1. 1. 1.],[1. 0.98 0.96 0.94 0.92 0.9 0.88 0. ],0.960665,0.796466,"[[173, 174, 175, 176, 177, 178, 179, 180, 181,...","[[], [], [], [], [], [], [], [], [], [], [], [..."
3,9,3,4,"[0.995192289352417, 1.0, 1.0, 1.0, 1.0, 0.9951...",1.0,[0.99519229 1. ],1.0,[1. 1. 1.],[1. 0.64 0. ],0.925750,0.997833,"[[0], [], [], [], [], [0], [], [], [], [0], [0...","[[], [], [], [], [], [], [], [], [], [], [], [..."
4,14,4,64,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9933333396911...",1.0,[0.99253732 0.99333334 0.99337751 0.99435025 0...,1.0,[1. 1. 1. 1. 1. 1. 1. 1.],[1. 0.98 0.96 0.94 0.92 0.9 0.88 0. ],0.934483,0.824244,"[[138, 139, 140, 141, 142, 143, 144, 145, 146,...","[[], [], [], [], [], [], [], [], [], [], [], [..."

In [4]:
dfi.columns = ["_", "__", "route", "scores", "auc", "thr", "max_f1", "prec", 
               "rec", "intersec_prec", "intersec_rec", "intersec_pred_idx",
               "intersec_true_idx"]
#               "f1_thr", "prec", "rec", "traj"]


dfi["filename"] = filename

dfs = []
for df in [dfi]:
    for col in  ["prec", "rec", "thr"]:
        df[col] = df[col].apply(lambda x : x[1:-1].split(' '))
        df["_"+col] = df[col].apply(lambda x : [float(y) for y in x if y])
    df["_thr"] = df["_thr"].apply(lambda x: [*x, None])
    df = df[["filename", "route", "scores", "auc", 
             "max_f1", "_prec", "_rec", "_thr", 
             "intersec_prec", "intersec_rec", 
             "intersec_pred_idx", "intersec_true_idx"]]
    df.columns = ["filename", "route", "scores", "auc", 
                  "max_f1", "precision", "recall", "threshold",
                  "intersec_prec", "intersec_rec", 
                  "intersec_pred_idx", "intersec_true_idx"]
    df = df.explode(["precision", "recall", "threshold"])
    dfs.append(df)
df = pd.concat(dfs).reset_index(drop=True)

In [5]:
dfs = df[["filename", "route", "scores", "intersec_pred_idx", "intersec_true_idx"]].copy()

dfs.drop_duplicates(subset="route", inplace=True)

In [6]:
def str_to_list(s):
    # print(type(s))
    # print(s)
    # input()
    sc = eval(s)
    return sc

In [7]:
for c in ["scores", "intersec_pred_idx", "intersec_true_idx"]:
    print(c)
    dfs["_" + c] = dfs[c].apply(lambda x: str_to_list(x))
    # print(dfs[c].loc[0])
    # print(dfs["_" + c].loc[0])

scores
intersec_pred_idx
intersec_true_idx

In [8]:
df_l = []

for r in dfs["route"].unique():
    dfn = dfs[dfs["route"] == r]
    exec("lp = " + dfn["intersec_pred_idx"].values[0])
    exec("lt = " + dfn["intersec_true_idx"].values[0])
    exec("sc = " + dfn["scores"].values[0])
    dx = {"scores": sc,
         "pred": lp,
         "true": lt}
    df = pd.DataFrame(dx)
    df["filename"] = filename
    df["route"] = r
    df = df.reset_index()
    df_l.append(df)
df = pd.concat(df_l)

In [9]:
df.columns = ["trajectory_id", "score", "anom_predictions", "anom_true", "model", "route"]
df = df[["model", "route", "trajectory_id", "anom_predictions", "anom_true"]].reset_index()

In [10]:
df.head()

   index        model  route  trajectory_id anom_predictions anom_true
0      0  transformer     40              0               []        []
1      1  transformer     40              1               []        []
2      2  transformer     40              2               []        []
3      3  transformer     40              3               []        []
4      4  transformer     40              4               []        []

In [11]:
from sqlalchemy import create_engine

engine = create_engine(f'postgresql://postgres:monografia@backend-mobapp_db_1/app')
df.to_sql(
        table,
        engine,
        if_exists="append",
        index=False,
    )