In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

engine = create_engine(f'postgresql://postgres:monografia@backend-mobapp_db_1/app')

modelname = "transformer"
table_eval = "dublinmodeleval"
table_score = "dublinmodelscores"

In [2]:
dfi = pd.read_csv("../../scripts/data/transformer_dublin_1_03.csv")
dfi.columns = [ "_", "__", "route", "scores", "auc", "thr", "max_f1", "prec", "rec", "_1", "_2", "_3", "_4"]
dfi = dfi[["route", "scores", "auc", "thr", "max_f1", "prec", "rec"]]

dfi["model"] = modelname

dfi.head()

,route,scores,auc,thr,max_f1,prec,rec,model
0,40,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",1.0,[0.99519229 1. ],1.0,[1. 1. 1.],[1. 0.92 0. ],transformer
1,37,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",1.0,[0.99346405 0.9937107 0.99447513 0.99456519 0...,1.0,[1. 1. 1. 1. 1. 1. 1.],[1. 0.98 0.96 0.94 0.92 0.9 0. ],transformer
2,18,"[1.0, 1.0, 1.0, 1.0, 1.0, 0.9934640526771545, ...",1.0,[0.99206346 0.99280578 0.99346405 0.99363059 0...,1.0,[1. 1. 1. 1. 1. 1. 1. 1.],[1. 0.98 0.96 0.94 0.92 0.9 0.88 0. ],transformer
3,4,"[0.995192289352417, 1.0, 1.0, 1.0, 1.0, 0.9951...",1.0,[0.99519229 1. ],1.0,[1. 1. 1.],[1. 0.64 0. ],transformer
4,64,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9933333396911...",1.0,[0.99253732 0.99333334 0.99337751 0.99435025 0...,1.0,[1. 1. 1. 1. 1. 1. 1. 1.],[1. 0.98 0.96 0.94 0.92 0.9 0.88 0. ],transformer

In [3]:
dfs = []
for df in [dfi]:
    for col in  ["prec", "rec", "thr"]:
        df[col] = df[col].apply(lambda x : x[1:-1].split(' '))
        df["_"+col] = df[col].apply(lambda x : [float(y) for y in x if y])
    df["_thr"] = df["_thr"].apply(lambda x: [*x, None])
    df = df[["model", "route", "scores", "auc", 
             "max_f1", "_prec", "_rec", "_thr", ]]
    df.columns = ["model", "route", "scores", "auc", 
                  "max_f1", "precision", "recall", "threshold",]
    df = df.explode(["precision", "recall", "threshold"])
    dfs.append(df)
df = pd.concat(dfs).reset_index(drop=True)

In [4]:
df = df[df["threshold"].notna()]

In [5]:
df_eval = df[["model", "route", "precision", "recall", "threshold"]].reset_index()
df_eval.head()

   index        model  route precision recall threshold
0      0  transformer     40       1.0    1.0  0.995192
1      1  transformer     40       1.0   0.92       1.0
2      3  transformer     37       1.0    1.0  0.993464
3      4  transformer     37       1.0   0.98  0.993711
4      5  transformer     37       1.0   0.96  0.994475

In [ ]:
df_eval.to_sql(
    table_eval,
    engine,
    if_exists="append",
    index=False,
)

In [6]:
dft = df[["route", "model", "scores"]].drop_duplicates("route").reset_index()

In [7]:
dft.head()

,index,route,model,scores
0,0,40,transformer,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
1,3,37,transformer,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
2,10,18,transformer,"[1.0, 1.0, 1.0, 1.0, 1.0, 0.9934640526771545, ..."
3,18,4,transformer,"[0.995192289352417, 1.0, 1.0, 1.0, 1.0, 0.9951..."
4,21,64,transformer,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9933333396911..."

In [8]:
dft.to_sql(
    table_score,
    engine,
    if_exists="append",
    index=False,
)