In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

engine = create_engine(f'postgresql://postgres:monografia@backend-mobapp_db_1/app')

modelname = "riobusdata"
table_eval = "dublinmodeleval"
table_score = "dublinmodelscores"

In [2]:

dfi = pd.read_csv("../../scripts/data/riobusdata_dublin_1_03.csv")
dfi.columns = [ "route", "scores", "auc", "thr", "max_f1", "prec", "rec"]

dfi["model"] = modelname

dfs = []
for df in [dfi]:
    for col in  ["prec", "rec", "thr"]:
        df[col] = df[col].apply(lambda x : x[1:-1].split(' '))
        df["_"+col] = df[col].apply(lambda x : [float(y) for y in x if y])
    df["_thr"] = df["_thr"].apply(lambda x: [*x, None])
    df = df[["model", "route", "scores", "auc", 
             "max_f1", "_prec", "_rec", "_thr", ]]
    df.columns = ["model", "route", "scores", "auc", 
                  "max_f1", "precision", "recall", "threshold",]
    df = df.explode(["precision", "recall", "threshold"])
    dfs.append(df)
df = pd.concat(dfs).reset_index(drop=True)

df = df[df["threshold"].notna()]

In [3]:
df_eval = df[["model", "route", "precision", "recall", "threshold"]].reset_index()
df_eval.head()

   index       model  route precision recall threshold
0      0  riobusdata      0  0.505051    1.0       1.0
1      1  riobusdata      0       1.0    0.0      None
2      2  riobusdata      1       0.5    1.0       1.0
3      3  riobusdata      1  0.494949   0.98       1.0
4      4  riobusdata      1       1.0    0.0      None

In [4]:
df_eval.to_sql(
    table_eval,
    engine,
    if_exists="append",
    index=False,
)

In [5]:
dft = df[["route", "model", "scores"]].drop_duplicates("route").reset_index()

In [6]:
dft.head()

   index  route       model                                             scores
0      0      0  riobusdata  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...
1      2      1  riobusdata  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...
2      5      2  riobusdata  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...
3     11      3  riobusdata  [1.0, 1.0, 1.0, 1.0, 1.0, 0.9999998807907104, ...
4     33      4  riobusdata  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.999...

dft.to_sql(
    table_score,
    engine,
    if_exists="append",
    index=False,
)