In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

engine = create_engine(f'postgresql://postgres:monografia@backend-mobapp_db_1/app')

modelname = "gmvsae"
table_eval = "dublinmodeleval"
table_score = "dublinmodelscores"

In [2]:
dfi = pd.read_csv("../../scripts/data/gmvsae_dublin_1_03.csv")
dfi.columns = [ "scores", "auc", "thr", "max_f1", "prec", "rec", "route"]
dfi["model"] = modelname

dfi.head()

,scores,auc,thr,max_f1,prec,rec,route,model
0,"[0.780721127986908, 0.737420916557312, 0.65459...",0.874430,"[0.6243896484375, 0.6249441504478455, 0.642321...",0.860000,"[0.6410256410256411, 0.6363636363636364, 0.644...","[1.0, 0.98, 0.98, 0.98, 0.98, 0.98, 0.96, 0.96...",40,gmvsae
1,"[0.6430066823959351, 0.5999577641487122, 0.684...",0.744800,"[0.48915666341781616, 0.5009317398071289, 0.50...",0.721805,"[0.5617977528089888, 0.5568181818181818, 0.563...","[1.0, 0.98, 0.98, 0.96, 0.96, 0.96, 0.96, 0.94...",37,gmvsae
2,"[0.7229328751564026, 0.8327236175537109, 0.758...",0.852005,"[0.6645559072494507, 0.6660041213035583, 0.666...",0.804124,"[0.6410256410256411, 0.6363636363636364, 0.631...","[1.0, 0.98, 0.96, 0.96, 0.94, 0.94, 0.92, 0.9,...",18,gmvsae
3,"[0.8948103785514832, 0.9766578674316406, 0.852...",0.997434,"[0.8359434604644775, 0.8422914743423462, 0.843...",0.980000,"[0.8928571428571429, 0.8909090909090909, 0.907...","[1.0, 0.98, 0.98, 0.98, 0.98, 0.98, 0.98, 0.96...",4,gmvsae
4,"[0.9812880754470825, 0.9496464133262634, 0.965...",0.986666,"[0.8651648163795471, 0.8693398237228394, 0.876...",0.960000,"[0.7692307692307693, 0.765625, 0.7777777777777...","[1.0, 0.98, 0.98, 0.98, 0.98, 0.96, 0.96, 0.96...",64,gmvsae

In [3]:
dfs = []
for df in [dfi]:
    for col in  ["prec", "rec", "thr"]:
        df[col] = df[col].apply(lambda x : x[1:-1].split(','))
        df["_"+col] = df[col].apply(lambda x : [float(y) for y in x if y])
    df["_thr"] = df["_thr"].apply(lambda x: [*x, None])
    df = df[["model", "route", "scores", "auc", 
             "max_f1", "_prec", "_rec", "_thr", ]]
    df.columns = ["model", "route", "scores", "auc", 
                  "max_f1", "precision", "recall", "threshold",]
    df = df.explode(["precision", "recall", "threshold"])
    dfs.append(df)
df = pd.concat(dfs).reset_index(drop=True)

In [4]:
df = df[df["threshold"].notna()]

In [5]:
df_eval = df[["model", "route", "precision", "recall", "threshold"]].reset_index()
df_eval.head()

   index   model  route precision recall threshold
0      0  gmvsae     40  0.641026    1.0   0.62439
1      1  gmvsae     40  0.636364   0.98  0.624944
2      2  gmvsae     40  0.644737   0.98  0.642322
3      3  gmvsae     40  0.653333   0.98  0.646521
4      4  gmvsae     40  0.662162   0.98  0.653806

In [ ]:
df_eval.to_sql(
    table_eval,
    engine,
    if_exists="append",
    index=False,
)

In [6]:
dft = df[["route", "model", "scores"]].drop_duplicates("route").reset_index()

In [7]:
dft.head()

   index  route   model                                             scores
0      0     40  gmvsae  [0.780721127986908, 0.737420916557312, 0.65459...
1     79     37  gmvsae  [0.6430066823959351, 0.5999577641487122, 0.684...
2    169     18  gmvsae  [0.7229328751564026, 0.8327236175537109, 0.758...
3    248      4  gmvsae  [0.8948103785514832, 0.9766578674316406, 0.852...
4    305     64  gmvsae  [0.9812880754470825, 0.9496464133262634, 0.965...

In [8]:
dft.to_sql(
    table_score,
    engine,
    if_exists="append",
    index=False,
)