In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

engine = create_engine(f'postgresql://postgres:monografia@backend-mobapp_db_1/app')

modelname = "iboat"
table_eval = "dublinmodeleval"
table_score = "dublinmodelscores"

In [6]:
dfi = pd.read_csv("../../scripts/data/iboat_dublin.csv")
dfi.columns = ["_", "route", "scores", "auc", "thr", "max_f1", "prec", "rec", "_1", "_2", "_3", "_4"]
dfi = dfi[["route", "scores", "auc", "thr", "max_f1", "prec", "rec"]]
dfi["model"] = modelname

dfi.head()

,route,scores,auc,thr,max_f1,prec,rec,model
0,40,"[4.515810465978232e-49, 1.785646210864155e-18,...",1.000000,"[3.788425811245334, 5.217964989367795, 5.36393...",1.000000,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[1.0, 0.98, 0.96, 0.94, 0.92, 0.9, 0.88, 0.86,...",iboat
1,37,"[5.055005387555262, 5.055441562186856, 5.05362...",1.000000,"[7.066930747708693, 7.081370766761149, 7.10432...",1.000000,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[1.0, 0.98, 0.96, 0.94, 0.92, 0.9, 0.88, 0.86,...",iboat
2,18,"[12.727297017194035, 12.698228172814373, 12.70...",0.892293,"[6.903161715298669, 7.924763495662003, 7.95595...",0.927835,"[0.5263157894736842, 0.5212765957446809, 0.516...","[1.0, 0.98, 0.96, 0.94, 0.94, 0.94, 0.94, 0.94...",iboat
3,4,"[2.271450667583956e-09, 1.6754018956464126e-15...",0.996117,"[3.631660131270236, 4.385819038481871, 4.81011...",0.990099,"[0.9803921568627451, 0.98, 0.9795918367346939,...","[1.0, 0.98, 0.96, 0.94, 0.92, 0.9, 0.88, 0.86,...",iboat
4,64,"[3.96634759586814, 4.03072221686141, 4.0024982...",0.990628,"[3.709529607854074, 3.8433057431429978, 3.8583...",0.980000,"[0.5747126436781609, 0.5697674418604651, 0.576...","[1.0, 0.98, 0.98, 0.98, 0.98, 0.98, 0.98, 0.98...",iboat

In [7]:
dfs = []
for df in [dfi]:
    for col in  ["prec", "rec", "thr"]:
        df[col] = df[col].apply(lambda x : x[1:-1].split(','))
        df["_"+col] = df[col].apply(lambda x : [float(y) for y in x if y])
    df["_thr"] = df["_thr"].apply(lambda x: [*x, None])
    df = df[["model", "route", "scores", "auc", 
             "max_f1", "_prec", "_rec", "_thr", ]]
    df.columns = ["model", "route", "scores", "auc", 
                  "max_f1", "precision", "recall", "threshold",]
    df = df.explode(["precision", "recall", "threshold"])
    dfs.append(df)
df = pd.concat(dfs).reset_index(drop=True)

In [8]:
df = df[df["threshold"].notna()]

In [9]:
df_eval = df[["model", "route", "precision", "recall", "threshold"]].reset_index()
df_eval.head()

   index  model  route precision recall threshold
0      0  iboat     40       1.0    1.0  3.788426
1      1  iboat     40       1.0   0.98  5.217965
2      2  iboat     40       1.0   0.96  5.363936
3      3  iboat     40       1.0   0.94   5.66225
4      4  iboat     40       1.0   0.92  6.275566

In [10]:
df_eval.to_sql(
    table_eval,
    engine,
    if_exists="append",
    index=False,
)

In [11]:
dft = df[["route", "model", "scores"]].reset_index()

In [12]:
dft.head()

   index  route  model                                             scores
0      0     40  iboat  [4.515810465978232e-49, 1.785646210864155e-18,...
1      1     40  iboat  [4.515810465978232e-49, 1.785646210864155e-18,...
2      2     40  iboat  [4.515810465978232e-49, 1.785646210864155e-18,...
3      3     40  iboat  [4.515810465978232e-49, 1.785646210864155e-18,...
4      4     40  iboat  [4.515810465978232e-49, 1.785646210864155e-18,...

In [13]:
dft.to_sql(
    table_score,
    engine,
    if_exists="append",
    index=False,
)