In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

engine = create_engine(f'postgresql://postgres:monografia@backend-mobapp_db_1/app')
table_score = "dublinmodelscores"

In [2]:
def xplode_scores(df, split=","):
    col = "scores"
    df[col] = df[col].apply(lambda x : x[1:-1].split(split))
    df["_"+col] = df[col].apply(lambda x : [float(y) for y in x if y])
    df = df.explode(col)
    dfs = []
    for r in df["route"].unique():
        _df = df[df["route"] == r]
        _df["trajectory_id"] = range(100) 
        dfs.append(_df)
    df = pd.concat(dfs)
    df = df[["route", "model", "scores", "trajectory_id"]]
    return df

In [3]:
modelname = "gmvsae"
gmvsae = pd.read_csv("../../scripts/data/gmvsae_dublin_1_03.csv")
gmvsae.columns = [ "scores", "auc", "thr", "max_f1", "prec", "rec", "route"]
gmvsae["model"] = modelname
gmvsae = gmvsae[["route", "model", "scores"]].drop_duplicates("route")
gmvsae = xplode_scores(gmvsae)
len(gmvsae)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

6800

In [4]:
modelname = "iboat"
iboat = pd.read_csv("../../scripts/data/iboat_dublin.csv")
iboat.columns = ["_", "route", "scores", "auc", "thr", "max_f1", "prec", "rec", "_1", "_2", "_3", "_4"]
iboat["model"] = modelname
iboat = iboat[["route", "model", "scores"]].drop_duplicates("route")
iboat = xplode_scores(iboat)
len(iboat)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

6800

In [5]:
modelname = "transformer"
transformer = pd.read_csv("../../scripts/data/transformer_dublin_1_03.csv")
transformer.columns = [ "_", "__", "route", "scores", "auc", "thr", "max_f1", "prec", "rec", "_1", "_2", "_3", "_4"]
transformer["model"] = modelname
transformer = transformer[["route", "model", "scores"]].drop_duplicates("route")
transformer = xplode_scores(transformer)
len(transformer)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

6800

In [6]:
modelname = "riobusdata"
riobusdata = pd.read_csv("../../scripts/data/riobusdata_dublin_1_03.csv")
riobusdata.columns = [ "route", "scores", "auc", "thr", "max_f1", "prec", "rec"]
riobusdata["model"] = modelname
riobusdata = riobusdata[["route", "model", "scores"]].drop_duplicates("route")
riobusdata = xplode_scores(riobusdata)
len(riobusdata)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

6800

In [7]:
df = pd.concat([riobusdata, gmvsae, iboat, transformer])
df = df.reset_index(drop=True)
df.head()

   route       model scores  trajectory_id
0      0  riobusdata    1.0              0
1      0  riobusdata    1.0              1
2      0  riobusdata    1.0              2
3      0  riobusdata    1.0              3
4      0  riobusdata    1.0              4

In [8]:
df.to_sql(
    table_score,
    engine,
    if_exists="append",
)