In [2]:
import pandas as pd
import numpy as np

In [8]:
dfi = pd.read_csv("../scripts/data/gmvsae_dublin_1_03.csv")

In [9]:
dfi.head()

,Scores,AUC,Thresh,Max F1,Score_Prec,Score_Rec,Rota
0,"[0.780721127986908, 0.737420916557312, 0.65459...",0.874430,"[0.6243896484375, 0.6249441504478455, 0.642321...",0.860000,"[0.6410256410256411, 0.6363636363636364, 0.644...","[1.0, 0.98, 0.98, 0.98, 0.98, 0.98, 0.96, 0.96...",40
1,"[0.6430066823959351, 0.5999577641487122, 0.684...",0.744800,"[0.48915666341781616, 0.5009317398071289, 0.50...",0.721805,"[0.5617977528089888, 0.5568181818181818, 0.563...","[1.0, 0.98, 0.98, 0.96, 0.96, 0.96, 0.96, 0.94...",37
2,"[0.7229328751564026, 0.8327236175537109, 0.758...",0.852005,"[0.6645559072494507, 0.6660041213035583, 0.666...",0.804124,"[0.6410256410256411, 0.6363636363636364, 0.631...","[1.0, 0.98, 0.96, 0.96, 0.94, 0.94, 0.92, 0.9,...",18
3,"[0.8948103785514832, 0.9766578674316406, 0.852...",0.997434,"[0.8359434604644775, 0.8422914743423462, 0.843...",0.980000,"[0.8928571428571429, 0.8909090909090909, 0.907...","[1.0, 0.98, 0.98, 0.98, 0.98, 0.98, 0.98, 0.96...",4
4,"[0.9812880754470825, 0.9496464133262634, 0.965...",0.986666,"[0.8651648163795471, 0.8693398237228394, 0.876...",0.960000,"[0.7692307692307693, 0.765625, 0.7777777777777...","[1.0, 0.98, 0.98, 0.98, 0.98, 0.96, 0.96, 0.96...",64

In [10]:
dfi.columns = ["scores", "auc", "thr", "max_f1", "prec", 
               "rec", "rota"]

In [11]:
dfi["filename"] = "transformer"

dfs = []
for df in [dfi]:
    for col in  ["prec", "rec", "thr"]:
        df[col] = df[col].apply(lambda x : x[1:-1].split(','))
        df["_"+col] = df[col].apply(lambda x : [float(y) for y in x if y])
    df["_thr"] = df["_thr"].apply(lambda x: [*x, None])
    df = df[["filename", "rota", "scores", "auc", 
             "max_f1", "_prec", "_rec", "_thr", ]]
    df.columns = ["filename", "rota", "scores", "auc", 
                  "max_f1", "precision", "recall", "threshold",]
    df = df.explode(["precision", "recall", "threshold"])
    dfs.append(df)
df = pd.concat(dfs).reset_index(drop=True)

In [12]:
dft = df[["filename", "rota", "scores"]].copy()

dft["scores"] = dft["scores"].apply(lambda x : x[1:-1].split(','))
dft["scores"] = dft["scores"].apply(lambda x : [float(y) for y in x if y])

N = len(dft)
trajs = [list(range(100)) for n in range(N)]
dft["trajectory_id"] = trajs
dft = dft.explode(["trajectory_id", "scores"])

In [13]:
dft.head()

      filename  rota    scores trajectory_id
0  transformer    40  0.780721             0
0  transformer    40  0.737421             1
0  transformer    40  0.654593             2
0  transformer    40  0.751278             3
0  transformer    40    0.6876             4

In [57]:
import psycopg2 as ps

conn = ps.connect(dbname="app",
                  user="postgres",
                  password="monografia",
                  host="backend-mobapp_db_1")
cur = conn.cursor()

cur.execute("CREATE TABLE dublinpredictrota ( \
index int, filename varchar, rota int, trajectory_id int, scores numeric);")

conn.commit()

In [14]:
from sqlalchemy import create_engine

engine = create_engine(f'postgresql://postgres:monografia@backend-mobapp_db_1/app')
dft.to_sql(
        "dublinpredictrota",
        engine,
        if_exists="append",
        index=True,
    )

,filename,rota,scores,auc,max_f1,precision,recall,threshold,intersec_prec,intersec_rec,intersec_pred_idx,intersec_true_idx
0,iboat,40,"[4.515810465978232e-49, 1.785646210864155e-18,...",1.0,1.0,1.0,1.0,3.788426,0.991031,0.997382,"[[], [], [], [], [], [], [], [], [], [], [], [...","[[], [], [], [], [], [], [], [], [], [], [], [..."
1,iboat,40,"[4.515810465978232e-49, 1.785646210864155e-18,...",1.0,1.0,1.0,0.98,5.217965,0.991031,0.997382,"[[], [], [], [], [], [], [], [], [], [], [], [...","[[], [], [], [], [], [], [], [], [], [], [], [..."
2,iboat,40,"[4.515810465978232e-49, 1.785646210864155e-18,...",1.0,1.0,1.0,0.96,5.363936,0.991031,0.997382,"[[], [], [], [], [], [], [], [], [], [], [], [...","[[], [], [], [], [], [], [], [], [], [], [], [..."
3,iboat,40,"[4.515810465978232e-49, 1.785646210864155e-18,...",1.0,1.0,1.0,0.94,5.66225,0.991031,0.997382,"[[], [], [], [], [], [], [], [], [], [], [], [...","[[], [], [], [], [], [], [], [], [], [], [], [..."
4,iboat,40,"[4.515810465978232e-49, 1.785646210864155e-18,...",1.0,1.0,1.0,0.92,6.275566,0.991031,0.997382,"[[], [], [], [], [], [], [], [], [], [], [], [...","[[], [], [], [], [], [], [], [], [], [], [], [..."

import psycopg2 as ps

conn = ps.connect(dbname="app",
                  user="postgres",
                  password="monografia",
                  host="backend-mobapp_db_1")
cur = conn.cursor()

cur.execute("CREATE TABLE dublinevalmodel ( \
index int, filename varchar, rota int, auc numeric, max_f1 numeric, f1_thr numeric, precision numeric, recall numeric, threshold numeric);")

conn.commit()

In [61]:
from sqlalchemy import create_engine

engine = create_engine(f'postgresql://postgres:monografia@backend-mobapp_db_1/app')
df.to_sql(
        "dublinevalmodel",
        engine,
        if_exists="append",
        index=True,
    )