In [2]:
import pandas as pd
import numpy as np

In [10]:
dfi = pd.read_csv("../scripts/data/transformer_dublin_1_03.csv")

In [11]:
dfi.head()

,Unnamed: 0,Unnamed: 0.1,Rota,Scores,AUC,Thresh,Max F1,Score_Prec,Score_Rec,Intersec_Prec,Intersec_Rec,Intersec_Pred_Idx,Intersec_True_Idx
0,0,0,40,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",1.0,[0.99519229 1. ],1.0,[1. 1. 1.],[1. 0.92 0. ],0.949270,0.999397,"[[], [], [], [], [], [], [], [], [], [], [], [...","[[], [], [], [], [], [], [], [], [], [], [], [..."
1,2,1,37,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",1.0,[0.99346405 0.9937107 0.99447513 0.99456519 0...,1.0,[1. 1. 1. 1. 1. 1. 1.],[1. 0.98 0.96 0.94 0.92 0.9 0. ],0.937840,0.836989,"[[180, 181, 182, 183, 184, 185, 186, 187, 188,...","[[], [], [], [], [], [], [], [], [], [], [], [..."
2,5,2,18,"[1.0, 1.0, 1.0, 1.0, 1.0, 0.9934640526771545, ...",1.0,[0.99206346 0.99280578 0.99346405 0.99363059 0...,1.0,[1. 1. 1. 1. 1. 1. 1. 1.],[1. 0.98 0.96 0.94 0.92 0.9 0.88 0. ],0.960665,0.796466,"[[173, 174, 175, 176, 177, 178, 179, 180, 181,...","[[], [], [], [], [], [], [], [], [], [], [], [..."
3,9,3,4,"[0.995192289352417, 1.0, 1.0, 1.0, 1.0, 0.9951...",1.0,[0.99519229 1. ],1.0,[1. 1. 1.],[1. 0.64 0. ],0.925750,0.997833,"[[0], [], [], [], [], [0], [], [], [], [0], [0...","[[], [], [], [], [], [], [], [], [], [], [], [..."
4,14,4,64,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9933333396911...",1.0,[0.99253732 0.99333334 0.99337751 0.99435025 0...,1.0,[1. 1. 1. 1. 1. 1. 1. 1.],[1. 0.98 0.96 0.94 0.92 0.9 0.88 0. ],0.934483,0.824244,"[[138, 139, 140, 141, 142, 143, 144, 145, 146,...","[[], [], [], [], [], [], [], [], [], [], [], [..."

In [12]:
dfi.columns = ["_", "__","rota", "scores", "auc", "thr", "max_f1", "prec", 
               "rec", "intersec_prec", "intersec_rec", "intersec_pred_idx",
               "intersec_true_idx"]
#               "f1_thr", "prec", "rec", "traj"]

In [13]:
dfi["filename"] = "transformer"

dfs = []
for df in [dfi]:
    for col in  ["prec", "rec", "thr"]:
        df[col] = df[col].apply(lambda x : x[1:-1].split(' '))
        df["_"+col] = df[col].apply(lambda x : [float(y) for y in x if y])
    df["_thr"] = df["_thr"].apply(lambda x: [*x, None])
    df = df[["filename", "rota", "scores", "auc", 
             "max_f1", "_prec", "_rec", "_thr", 
             "intersec_prec", "intersec_rec", 
             "intersec_pred_idx", "intersec_true_idx"]]
    df.columns = ["filename", "rota", "scores", "auc", 
                  "max_f1", "precision", "recall", "threshold",
                  "intersec_prec", "intersec_rec", 
                  "intersec_pred_idx", "intersec_true_idx"]
    df = df.explode(["precision", "recall", "threshold"])
    dfs.append(df)
df = pd.concat(dfs).reset_index(drop=True)

In [14]:
dft = df[["filename", "rota", "scores"]].copy()

dft["scores"] = dft["scores"].apply(lambda x : x[1:-1].split(','))
dft["scores"] = dft["scores"].apply(lambda x : [float(y) for y in x if y])

N = len(dft)
trajs = [list(range(100)) for n in range(N)]
dft["trajectory_id"] = trajs
dft = dft.explode(["trajectory_id", "scores"])

In [15]:
dft.head()

      filename  rota scores trajectory_id
0  transformer    40    1.0             0
0  transformer    40    1.0             1
0  transformer    40    1.0             2
0  transformer    40    1.0             3
0  transformer    40    1.0             4

In [57]:
import psycopg2 as ps

conn = ps.connect(dbname="app",
                  user="postgres",
                  password="monografia",
                  host="backend-mobapp_db_1")
cur = conn.cursor()

cur.execute("CREATE TABLE dublinpredictrota ( \
index int, filename varchar, rota int, trajectory_id int, scores numeric);")

conn.commit()

In [16]:
from sqlalchemy import create_engine

engine = create_engine(f'postgresql://postgres:monografia@backend-mobapp_db_1/app')
dft.to_sql(
        "dublinpredictrota",
        engine,
        if_exists="append",
        index=True,
    )

,filename,rota,scores,auc,max_f1,precision,recall,threshold,intersec_prec,intersec_rec,intersec_pred_idx,intersec_true_idx
0,iboat,40,"[4.515810465978232e-49, 1.785646210864155e-18,...",1.0,1.0,1.0,1.0,3.788426,0.991031,0.997382,"[[], [], [], [], [], [], [], [], [], [], [], [...","[[], [], [], [], [], [], [], [], [], [], [], [..."
1,iboat,40,"[4.515810465978232e-49, 1.785646210864155e-18,...",1.0,1.0,1.0,0.98,5.217965,0.991031,0.997382,"[[], [], [], [], [], [], [], [], [], [], [], [...","[[], [], [], [], [], [], [], [], [], [], [], [..."
2,iboat,40,"[4.515810465978232e-49, 1.785646210864155e-18,...",1.0,1.0,1.0,0.96,5.363936,0.991031,0.997382,"[[], [], [], [], [], [], [], [], [], [], [], [...","[[], [], [], [], [], [], [], [], [], [], [], [..."
3,iboat,40,"[4.515810465978232e-49, 1.785646210864155e-18,...",1.0,1.0,1.0,0.94,5.66225,0.991031,0.997382,"[[], [], [], [], [], [], [], [], [], [], [], [...","[[], [], [], [], [], [], [], [], [], [], [], [..."
4,iboat,40,"[4.515810465978232e-49, 1.785646210864155e-18,...",1.0,1.0,1.0,0.92,6.275566,0.991031,0.997382,"[[], [], [], [], [], [], [], [], [], [], [], [...","[[], [], [], [], [], [], [], [], [], [], [], [..."

import psycopg2 as ps

conn = ps.connect(dbname="app",
                  user="postgres",
                  password="monografia",
                  host="backend-mobapp_db_1")
cur = conn.cursor()

cur.execute("CREATE TABLE dublinevalmodel ( \
index int, filename varchar, rota int, auc numeric, max_f1 numeric, f1_thr numeric, precision numeric, recall numeric, threshold numeric);")

conn.commit()

In [61]:
from sqlalchemy import create_engine

engine = create_engine(f'postgresql://postgres:monografia@backend-mobapp_db_1/app')
df.to_sql(
        "dublinevalmodel",
        engine,
        if_exists="append",
        index=True,
    )