In [1]:
import pandas as pd
import numpy as np

filename = "transformer"

In [2]:
dfi = pd.read_csv("../scripts/data/transformer_dublin_1_03.csv")

dfi.columns = ["_", "__", "rota", "scores", "auc", "thr", "max_f1", "prec", 
               "rec", "intersec_prec", "intersec_rec", "intersec_pred_idx",
               "intersec_true_idx"]
#               "f1_thr", "prec", "rec", "traj"]


dfi["filename"] = filename

dfs = []
for df in [dfi]:
    for col in  ["prec", "rec", "thr"]:
        df[col] = df[col].apply(lambda x : x[1:-1].split(' '))
        df["_"+col] = df[col].apply(lambda x : [float(y) for y in x if y])
    df["_thr"] = df["_thr"].apply(lambda x: [*x, None])
    df = df[["filename", "rota", "scores", "auc", 
             "max_f1", "_prec", "_rec", "_thr", 
             "intersec_prec", "intersec_rec", 
             "intersec_pred_idx", "intersec_true_idx"]]
    df.columns = ["filename", "rota", "scores", "auc", 
                  "max_f1", "precision", "recall", "threshold",
                  "intersec_prec", "intersec_rec", 
                  "intersec_pred_idx", "intersec_true_idx"]
    df = df.explode(["precision", "recall", "threshold"])
    dfs.append(df)
df = pd.concat(dfs).reset_index(drop=True)

In [3]:
dfs = df[["filename", "rota", "scores", "intersec_pred_idx", "intersec_true_idx"]].copy()

dfs.drop_duplicates(subset="rota", inplace=True)

In [5]:
dfs[dfs["rota"]==0]

,filename,rota,scores,intersec_pred_idx,intersec_true_idx
104,transformer,0,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[[], [], [], [], [], [], [], [], [], [], [], [...","[[], [], [], [], [], [], [], [], [], [], [], [..."

In [8]:
def str_to_list(s):
    # print(type(s))
    # print(s)
    # input()
    sc = eval(s)
    return sc

In [9]:
for c in ["scores", "intersec_pred_idx", "intersec_true_idx"]:
    print(c)
    dfs["_" + c] = dfs[c].apply(lambda x: str_to_list(x))
    # print(dfs[c].loc[0])
    # print(dfs["_" + c].loc[0])

scores
intersec_pred_idx
intersec_true_idx

In [10]:
df_l = []

for r in dfs["rota"].unique():
    dfn = dfs[dfs["rota"] == r]
    exec("lp = " + dfn["intersec_pred_idx"].values[0])
    exec("lt = " + dfn["intersec_true_idx"].values[0])
    exec("sc = " + dfn["scores"].values[0])
    dx = {"scores": sc,
         "pred": lp,
         "true": lt}
    df = pd.DataFrame(dx)
    df["filename"] = filename
    df["rota"] = r
    df = df.reset_index()
    df_l.append(df)
df = pd.concat(df_l)

In [14]:
df[df["rota"]==0].loc[49]

index                49
scores              1.0
pred                 []
true                 []
filename    transformer
rota                  0
Name: 49, dtype: object

In [188]:
df.columns = ["trajectory_id", "score", "anon_predictions", "true_anon", "filename", "rota"]
df = df[["filename", "rota", "trajectory_id", "anon_predictions", "true_anon"]]

In [185]:
df.dtypes

filename            object
rota                 int64
trajetory_id         int64
anon_predictions    object
true_anon           object
dtype: object

dft = df[["filename", "rota", "scores"]].copy()

dft["scores"] = dft["scores"].apply(lambda x : x[1:-1].split(','))
dft["scores"] = dft["scores"].apply(lambda x : [float(y) for y in x if y])

N = len(dft)
trajs = [list(range(100)) for n in range(N)]
dft["trajectory_id"] = trajs
dft = dft.explode(["trajectory_id", "scores"])

In [56]:
dft.head()

  filename  rota scores trajectory_id
0    iboat    40    0.0             0
0    iboat    40    0.0             1
0    iboat    40    0.0             2
0    iboat    40    0.0             3
0    iboat    40    0.0             4

In [180]:
import psycopg2 as ps

conn = ps.connect(dbname="app",
                  user="postgres",
                  password="monografia",
                  host="backend-mobapp_db_1")
cur = conn.cursor()

cur.execute("CREATE TABLE dublinpredictregion ( \
index int, filename varchar, rota int, trajectory_id int, anon_predictions varchar, true_anon varchar);")

conn.commit()

In [189]:
from sqlalchemy import create_engine

engine = create_engine(f'postgresql://postgres:monografia@backend-mobapp_db_1/app')
df.to_sql(
        "dublinpredictregion",
        engine,
        if_exists="append",
        index=True,
    )

,filename,rota,scores,auc,max_f1,precision,recall,threshold,intersec_prec,intersec_rec,intersec_pred_idx,intersec_true_idx
0,iboat,40,"[4.515810465978232e-49, 1.785646210864155e-18,...",1.0,1.0,1.0,1.0,3.788426,0.991031,0.997382,"[[], [], [], [], [], [], [], [], [], [], [], [...","[[], [], [], [], [], [], [], [], [], [], [], [..."
1,iboat,40,"[4.515810465978232e-49, 1.785646210864155e-18,...",1.0,1.0,1.0,0.98,5.217965,0.991031,0.997382,"[[], [], [], [], [], [], [], [], [], [], [], [...","[[], [], [], [], [], [], [], [], [], [], [], [..."
2,iboat,40,"[4.515810465978232e-49, 1.785646210864155e-18,...",1.0,1.0,1.0,0.96,5.363936,0.991031,0.997382,"[[], [], [], [], [], [], [], [], [], [], [], [...","[[], [], [], [], [], [], [], [], [], [], [], [..."
3,iboat,40,"[4.515810465978232e-49, 1.785646210864155e-18,...",1.0,1.0,1.0,0.94,5.66225,0.991031,0.997382,"[[], [], [], [], [], [], [], [], [], [], [], [...","[[], [], [], [], [], [], [], [], [], [], [], [..."
4,iboat,40,"[4.515810465978232e-49, 1.785646210864155e-18,...",1.0,1.0,1.0,0.92,6.275566,0.991031,0.997382,"[[], [], [], [], [], [], [], [], [], [], [], [...","[[], [], [], [], [], [], [], [], [], [], [], [..."

import psycopg2 as ps

conn = ps.connect(dbname="app",
                  user="postgres",
                  password="monografia",
                  host="backend-mobapp_db_1")
cur = conn.cursor()

cur.execute("CREATE TABLE dublinevalmodel ( \
index int, filename varchar, rota int, auc numeric, max_f1 numeric, f1_thr numeric, precision numeric, recall numeric, threshold numeric);")

conn.commit()

In [61]:
from sqlalchemy import create_engine

engine = create_engine(f'postgresql://postgres:monografia@backend-mobapp_db_1/app')
df.to_sql(
        "dublinevalmodel",
        engine,
        if_exists="append",
        index=True,
    )