In [1]:
import pandas as pd
import numpy as np

In [2]:
dfi = pd.read_csv("../scripts/data/iboat_dublin.csv")

In [3]:
dfi.head()

,Unnamed: 0,Rota,Scores,AUC,Thresh,Max F1,Score_Prec,Score_Rec,Intersec_Prec,Intersec_Rec,Intersec_Pred_Idx,Intersec_True_Idx
0,0,40,"[4.515810465978232e-49, 1.785646210864155e-18,...",1.000000,"[3.788425811245334, 5.217964989367795, 5.36393...",1.000000,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[1.0, 0.98, 0.96, 0.94, 0.92, 0.9, 0.88, 0.86,...",0.991031,0.997382,"[[], [], [], [], [], [], [], [], [], [], [], [...","[[], [], [], [], [], [], [], [], [], [], [], [..."
1,0,37,"[5.055005387555262, 5.055441562186856, 5.05362...",1.000000,"[7.066930747708693, 7.081370766761149, 7.10432...",1.000000,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...","[1.0, 0.98, 0.96, 0.94, 0.92, 0.9, 0.88, 0.86,...",0.834832,0.983561,"[[180, 181, 182, 183, 184, 185, 186, 187, 188,...","[[], [], [], [], [], [], [], [], [], [], [], [..."
2,0,18,"[12.727297017194035, 12.698228172814373, 12.70...",0.892293,"[6.903161715298669, 7.924763495662003, 7.95595...",0.927835,"[0.5263157894736842, 0.5212765957446809, 0.516...","[1.0, 0.98, 0.96, 0.94, 0.94, 0.94, 0.94, 0.94...",0.689838,0.979708,"[[173, 174, 175, 176, 177, 178, 179, 180, 181,...","[[], [], [], [], [], [], [], [], [], [], [], [..."
3,0,4,"[2.271450667583956e-09, 1.6754018956464126e-15...",0.996117,"[3.631660131270236, 4.385819038481871, 4.81011...",0.990099,"[0.9803921568627451, 0.98, 0.9795918367346939,...","[1.0, 0.98, 0.96, 0.94, 0.92, 0.9, 0.88, 0.86,...",0.921277,0.953559,"[[], [], [19, 194, 195, 196, 197, 198, 199, 20...","[[], [], [], [], [], [], [], [], [], [], [], [..."
4,0,64,"[3.96634759586814, 4.03072221686141, 4.0024982...",0.990628,"[3.709529607854074, 3.8433057431429978, 3.8583...",0.980000,"[0.5747126436781609, 0.5697674418604651, 0.576...","[1.0, 0.98, 0.98, 0.98, 0.98, 0.98, 0.98, 0.98...",0.813053,0.987830,"[[120, 138, 139, 140, 141, 142, 143, 144, 145,...","[[], [], [], [], [], [], [], [], [], [], [], [..."

In [26]:
dfi.columns = ["_", "rota", "scores", "auc", "thr", "max_f1", "prec", 
               "rec", "intersec_prec", "intersec_rec", "intersec_pred_idx",
               "intersec_true_idx"]
#               "f1_thr", "prec", "rec", "traj"]


dfi["filename"] = "iboat"

dfs = []
for df in [dfi]:
    for col in  ["prec", "rec", "thr"]:
        df[col] = df[col].apply(lambda x : x[1:-1].split(','))
        df["_"+col] = df[col].apply(lambda x : [float(y) for y in x if y])
    df["_thr"] = df["_thr"].apply(lambda x: [*x, None])
    df = df[["filename", "rota", "scores", "auc", 
             "max_f1", "_prec", "_rec", "_thr", 
             "intersec_prec", "intersec_rec", 
             "intersec_pred_idx", "intersec_true_idx"]]
    df.columns = ["filename", "rota", "scores", "auc", 
                  "max_f1", "precision", "recall", "threshold",
                  "intersec_prec", "intersec_rec", 
                  "intersec_pred_idx", "intersec_true_idx"]
    df = df.explode(["precision", "recall", "threshold"])
    dfs.append(df)
df = pd.concat(dfs).reset_index(drop=True)

In [55]:
dft = df[["filename", "rota", "scores"]].copy()

dft["scores"] = dft["scores"].apply(lambda x : x[1:-1].split(','))
dft["scores"] = dft["scores"].apply(lambda x : [float(y) for y in x if y])

N = len(dft)
trajs = [list(range(100)) for n in range(N)]
dft["trajectory_id"] = trajs
dft = dft.explode(["trajectory_id", "scores"])

In [56]:
dft.head()

  filename  rota scores trajectory_id
0    iboat    40    0.0             0
0    iboat    40    0.0             1
0    iboat    40    0.0             2
0    iboat    40    0.0             3
0    iboat    40    0.0             4

import psycopg2 as ps

conn = ps.connect(dbname="app",
                  user="postgres",
                  password="monografia",
                  host="backend-mobapp_db_1")
cur = conn.cursor()

cur.execute("CREATE TABLE dublinpredictrota ( \
index int, filename varchar, rota int, trajectory_id int, scores numeric);")

conn.commit()

In [ ]:
from sqlalchemy import create_engine

engine = create_engine(f'postgresql://postgres:monografia@backend-mobapp_db_1/app')
dft.to_sql(
        "dublinpredictrota",
        engine,
        if_exists="append",
        index=True,
    )

,filename,rota,scores,auc,max_f1,precision,recall,threshold,intersec_prec,intersec_rec,intersec_pred_idx,intersec_true_idx
0,iboat,40,"[4.515810465978232e-49, 1.785646210864155e-18,...",1.0,1.0,1.0,1.0,3.788426,0.991031,0.997382,"[[], [], [], [], [], [], [], [], [], [], [], [...","[[], [], [], [], [], [], [], [], [], [], [], [..."
1,iboat,40,"[4.515810465978232e-49, 1.785646210864155e-18,...",1.0,1.0,1.0,0.98,5.217965,0.991031,0.997382,"[[], [], [], [], [], [], [], [], [], [], [], [...","[[], [], [], [], [], [], [], [], [], [], [], [..."
2,iboat,40,"[4.515810465978232e-49, 1.785646210864155e-18,...",1.0,1.0,1.0,0.96,5.363936,0.991031,0.997382,"[[], [], [], [], [], [], [], [], [], [], [], [...","[[], [], [], [], [], [], [], [], [], [], [], [..."
3,iboat,40,"[4.515810465978232e-49, 1.785646210864155e-18,...",1.0,1.0,1.0,0.94,5.66225,0.991031,0.997382,"[[], [], [], [], [], [], [], [], [], [], [], [...","[[], [], [], [], [], [], [], [], [], [], [], [..."
4,iboat,40,"[4.515810465978232e-49, 1.785646210864155e-18,...",1.0,1.0,1.0,0.92,6.275566,0.991031,0.997382,"[[], [], [], [], [], [], [], [], [], [], [], [...","[[], [], [], [], [], [], [], [], [], [], [], [..."

import psycopg2 as ps

conn = ps.connect(dbname="app",
                  user="postgres",
                  password="monografia",
                  host="backend-mobapp_db_1")
cur = conn.cursor()

cur.execute("CREATE TABLE dublinevalmodel ( \
index int, filename varchar, rota int, auc numeric, max_f1 numeric, f1_thr numeric, precision numeric, recall numeric, threshold numeric);")

conn.commit()

In [61]:
from sqlalchemy import create_engine

engine = create_engine(f'postgresql://postgres:monografia@backend-mobapp_db_1/app')
df.to_sql(
        "dublinevalmodel",
        engine,
        if_exists="append",
        index=True,
    )