In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../scripts/data/dataframe_app_dublin.csv")

In [3]:
for col in  ["predicted", "input"]:
    df[col] = df[col].apply(lambda x : x[1:-1].split(', '))

In [4]:
df["real_traj"] = df["real_traj"].apply(lambda x: x[2:-2].split("], ["))

In [5]:
df = df.explode(["predicted", "input", "real_traj"])

In [6]:
for col in  ["predicted", "input"]:
    df[col] = df[col].astype('int')

In [7]:
df["lat"] = df["real_traj"].apply(lambda x: x.split(", ")[0]).astype('float')

In [8]:
df["lng"] = df["real_traj"].apply(lambda x: x.split(", ")[1]).astype('float')

In [9]:
df.drop(columns="real_traj", inplace=True)

In [10]:
df.reset_index(drop=True, inplace=True)

In [11]:
df

         id  predicted  input  routes        lat       lng
0         0       3832   3832      40  53.279099 -6.401250
1         0       3832   3832      40  53.279099 -6.401233
2         0       3832   3832      40  53.279099 -6.401233
3         0       3832   3832      40  53.279083 -6.401233
4         0       3832   3832      40  53.279083 -6.401233
...      ..        ...    ...     ...        ...       ...
1310395  99       5526   5526      38  53.295334 -6.135983
1310396  99       5526   5526      38  53.295300 -6.136000
1310397  99       5526   5526      38  53.295300 -6.136000
1310398  99       5526   5526      38  53.295300 -6.136000
1310399  99       5526   5526      38  53.295300 -6.136000

[1310400 rows x 6 columns]

In [18]:
df = df.rename({"id": "trajectory_id", "input_token":"input"}, axis=1)

In [16]:
df.head()

   trajectory_id  predicted  input_token  routes        lat       lng
0              0       3832         3832      40  53.279099 -6.401250
1              0       3832         3832      40  53.279099 -6.401233
2              0       3832         3832      40  53.279099 -6.401233
3              0       3832         3832      40  53.279083 -6.401233
4              0       3832         3832      40  53.279083 -6.401233

In [17]:
import psycopg2 as ps

conn = ps.connect(dbname="app",
                  user="postgres",
                  password="monografia",
                  host="backend-mobapp_db_1")
cur = conn.cursor()

cur.execute("CREATE TABLE dublinmodel ( \
index int, trajectory_id int, predicted int, input int, routes int, lat numeric, lng numeric);")

conn.commit()

DuplicateTable: relation "dublinmodel" already exists

In [19]:
from sqlalchemy import create_engine

engine = create_engine(f'postgresql://postgres:monografia@backend-mobapp_db_1/app')
df.to_sql(
        "dublinmodel",
        engine,
        if_exists="append",
        index=True,
    )