In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../scripts/data/traj_app_data.csv")

def transform_lists(df, origin_col, iter_col, final_col, index_name):
    df_l = [] 

    for r in df[iter_col].unique():
        dfn = df[df[iter_col] == r]
        trajs = eval(dfn[origin_col].values[0])
        dx = {final_col: trajs}
        _df = pd.DataFrame(dx)
        #df["filename"] = filename
        _df[iter_col] = r
        _df = _df.reset_index()
        _df.rename(columns={'index': index_name}, inplace=True)
        for t in _df[index_name].unique():
            _dt = _df[_df[index_name] == t]
            _dt = _dt.explode(final_col)
            _dt.reset_index(drop=True, inplace=True)
            df_l.append(_dt)
    dfx = pd.concat(df_l)
    return dfx

In [3]:
df1 = transform_lists(df, "trajetorias", "rota", "lat_lng", "trajectory_id").reset_index()

In [4]:
df1["lat_lng"]

0                   [53.428017000000004, -6.242033]
1                   [53.428017000000004, -6.242033]
2                   [53.428017000000004, -6.242033]
3                   [53.428017000000004, -6.242033]
4                   [53.428017000000004, -6.242033]
                             ...
1414395    [53.346275081009736, -6.273289186025339]
1414396    [53.346275081009736, -6.273289186025339]
1414397    [53.346275081009736, -6.273289186025339]
1414398    [53.346275081009736, -6.273289186025339]
1414399    [53.346275081009736, -6.273289186025339]
Name: lat_lng, Length: 1414400, dtype: object

In [5]:
df1.loc[:, 'lat'] = df1["lat_lng"].map(lambda x: x[0])
df1.loc[:, 'lng'] = df1["lat_lng"].map(lambda x: x[1])

In [6]:
df = df1[["index", "rota", "trajectory_id", "lat", "lng"]]
df.rename(columns={'index': "n_point"}, inplace=True)
df.reset_index(inplace=True)
df.head()

/usr/local/lib/python3.7/site-packages/pandas/core/frame.py:5042: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

   index  n_point  rota  trajectory_id        lat       lng
0      0        0     0              0  53.428017 -6.242033
1      1        1     0              0  53.428017 -6.242033
2      2        2     0              0  53.428017 -6.242033
3      3        3     0              0  53.428017 -6.242033
4      4        4     0              0  53.428017 -6.242033

In [7]:
import psycopg2 as ps

table = "dublinmodelpoints"

conn = ps.connect(dbname="app",
                  user="postgres",
                  password="monografia",
                  host="backend-mobapp_db_1")

cur = conn.cursor()

cur.execute(f"CREATE TABLE {table} ( \
index int, rota int, trajectory_id int, n_point int, lat numeric, lng numeric);")

conn.commit()

In [8]:
from sqlalchemy import create_engine

engine = create_engine(f'postgresql://postgres:monografia@backend-mobapp_db_1/app')
df.to_sql(
        "dublinmodelpoints",
        engine,
        if_exists="append",
        index=False,
    )